<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ingrese un producto</h1>
    <div>
      <form method="post" action="/api/products">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" name="price">
        </div>
        <div class="mb-3">
          <label for="thumbnailurl" class="form-label">ThumbnailUrl</label>
          <input type="text" class="form-control" name="thumbnailurl">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
